     <ol class="comment-list">
            <li class="comment odd alt thread-odd thread-alt depth-1 parent">
                <article class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img alt='' src='#' srcset='#' class='avatar avatar-50 photo' height='50' width='50' />                     
                            <b class="fn">
                                {$val['username']}
                            </b>
                            <span class="says">
                                说道：
                            </span>                 
                        </div><!-- .comment-author -->

                        <div class="comment-metadata">
                            <a href="#">
                                <time datetime="2017-02-02T16:32:35+00:00">
                                    {$val['ctime']}                          
                                </time>
                            </a>                
                        </div>
                    </footer>
                    <div class="comment-content">
                        <p>{$val['comment']}</p>
                    </div>

                    <div class="reply">
                        <a rel='nofollow' class='comment-reply-link' href='#'>
                            回复
                        </a>
                    </div>          
            </article>
        </li>
     </ol>