<!DOCTYPE html>
<html lang="zh-cmn-Hans" prefix="og: http://ogp.me/ns#" class="han-init">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{$title}</title>
    <link rel="stylesheet" href="public/css/primer.css">
    <link rel="stylesheet" href="public/css/user-content.min.css">
    <link rel="stylesheet" href="public/css/octicons.css">
    <link rel="stylesheet" href="public/css/collection.css">
    <link rel="stylesheet" href="public/css/repo-card.css">
    <link rel="stylesheet" href="public/css/repo-list.css">
    <link rel="stylesheet" href="public/css/mini-repo-list.css">
    <link rel="stylesheet" href="public/css/boxed-group.css">
    <link rel="stylesheet" href="public/css/common.css">
    <link rel="stylesheet" href="public/css/share.min.css">
    <link rel="stylesheet" href="public/css/responsive.css">
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/iconfont.css">
    <link rel="stylesheet" href="public/css/prism.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">


    

</head>

<body class="">
    <header class="site-header">
        <div class="container">
            <h1><a href="javascript:;"></a></h1>
            <nav class="site-header-nav" role="navigation">
                
                <a href="index.php">主页</a>
                
                <a href="javascript:;"></a>
                
                <a href="javascript:;"></a>
                
                <a href="javascript:;"></a>
                
                <a href="javascript:;"></a>
                
                <a href="javascript:;"></a>
                
            </nav>
        </div>
    </header>
    <!-- / header -->
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{$title}</h1>
                    <div class="collection-info">
                        <span class="meta-info">
                            <span class="octicon octicon-calendar"></span> {$topic['ctime']}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
 <section class="container content">
    <div class="columns">
        <div class="column three-fourths">
            <article class="article-content markdown-body">
                
                {$topic['topic']}

            </article>


<!--载入评论页面-->             
{if !empty($comm)}
<div class="post-comments">               
<div class="comments-area">
    <h2 class="comments-title">
        《{$title}》的相关评论       
    </h2> 
    <ol class="comment-list">
  
    {$comm}
    </ol>
   
</div><!-- #comments -->
</div> 
{/if}


        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">发表评论 
                <small>
                    <a rel="nofollow" id="cancel-comment-reply-link" href="/articles/17680.html#respond" style="display:none;">
                        取消回复
                    </a>
                </small>
            </h3>           
            <form action="index.php?m=comm&a=new" method="post" id="commentform" class="comment-form" novalidate>
                <p class="comment-notes">
                    <span id="email-notes">
                        电子邮件地址不会被公开。
                    </span> 
                    必填项已用
                    <span class="required">*</span>标注
                </p>
                <p class="comment-form-comment">
                    <label for="comment">评论</label> 
                    <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                </p>
                <p class="comment-form-author">
                    <label for="author">姓名 
                        <span class="required">*</span>
                    </label> 
                    <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' />
                </p>
               
                <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="发表评论" /> 
                    <input type='hidden' name='comment_post_ID' value='{$topic['aid']}' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </p>
                <p style="display: none;">
                    <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="64d1f32d7e" />
                </p>
                <p style="display: none;">
                    <input type="hidden" id="ak_js" name="ak_js" value="137"/>
                </p>            
            </form>
        </div>
        

            <div class="comment">
                <div class="comments">
    <div id="disqus_thread"></div>
    
    <noscript>Please enable JavaScript to view the &lt;a href="http://disqus.com/?ref_noscript"&gt;comments powered by Disqus.&lt;/a&gt;
</noscript>
</div>
</div>
</div>
        <div class="column one-fourth">
            <h3>Popular Repositories</h3>

            <div class="boxed-group flush" role="navigation">
            <h3>Repositories contribute to</h3>
            <ul class="boxed-group-inner mini-repo-list">
                
                <li class="public source ">
                    <a href="https://github.com/overtrue/wechat" target="_blank" title="overtrue/wechat" class="mini-repo-list-item css-truncate">
                        <span class="repo-icon octicon octicon-repo"></span>
                        <span class="repo-and-owner css-truncate-target">
                            overtrue/wechat
                        </span>
                    </a>
                </li>
                
                <li class="public source ">
                    <a href="https://github.com/EasyWeChat/site" target="_blank" title="EasyWeChat/site" class="mini-repo-list-item css-truncate">
                        <span class="repo-icon octicon octicon-repo"></span>
                        <span class="repo-and-owner css-truncate-target">
                            EasyWeChat/site
                        </span>
                    </a>
                </li>
                
                <li class="public source ">
                    <a href="https://github.com/laravel/framework" target="_blank" title="laravel/framework" class="mini-repo-list-item css-truncate">
                        <span class="repo-icon octicon octicon-repo"></span>
                        <span class="repo-and-owner css-truncate-target">
                            laravel/framework
                        </span>
                    </a>
                </li>
                
                <li class="public source ">
                    <a href="https://github.com/caouecs/Laravel-lang" target="_blank" title="caouecs/Laravel-lang" class="mini-repo-list-item css-truncate">
                        <span class="repo-icon octicon octicon-repo"></span>
                        <span class="repo-and-owner css-truncate-target">
                            caouecs/Laravel-lang
                        </span>
                    </a>
                </li>
                
            </ul>
</div>

        </div>
    </div>
</section>
<!-- /section.content -->
    <footer class="container">
        <div class="site-footer" role="contentinfo">
            <div class="copyright left mobile-block">
                    © 2017
                    <span title="dovegang.site">dovegang.site</span>
                    <a href="javascript:;"></a>
            </div>

            <ul class="site-footer-links right mobile-hidden">
                <li>
                    <a href="javascript:;"></a>
                </li>
            </ul>
            <a href="https://github.com/soonj" target="_blank" aria-label="view source code">
                <span class="mega-octicon octicon-mark-github" title="GitHub"></span>
            </a>
            <ul class="site-footer-links mobile-hidden">
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
                <li>
                    <a href="javascript:;"></a>
                </li>
                
            </ul>

        </div>
    </footer>
    <!-- / footer -->
</body>
</html>